.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-names-container {
    position: relative;
    bottom: 50px;
}

.my-name-container{
    border-bottom: 8px #01a1dd solid;
    padding-bottom: 10px;
    overflow: hidden;
}

.my-name {
    font-size: 5.5em;
    position: relative;
    left: -120%;
    font-weight: 800;
}

.my-name span {
    color: #01a1dd
}

.animate-from-left {
   animation: from-left 2.3s forwards; 
}

@-webkit-keyframes from-left {
    80% { left: 8px; }        
    100% { left: 0; }
}
@-moz-keyframes from-left {
    80% { left: 8px; }    
    100% { left: 0; }
}
@-o-keyframes from-left {
    80% { left: 8px; }     
    100% { left: 0; }
}
@keyframes from-left {
    80% { left: 8px; }    
    100% { left: 0; }
}

.my-desc {
    margin-top: 20px;
    font-size: 2em;
}

.about-container {
    position: relative;
    top: 15%;
    width: 70%;
    text-align: left;
}

.about-text {
    font-size: 1.3em;
}

@media screen and (max-width: 1300px) {
    .intro-names-container {
        position: relative;
        bottom: 15px;
    }
}