@import './shared.css';
@import './nav.css';
@import './intro.css';
@import './projects.css';
@import './skills.css';

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;    
}
