.skills {
}

.set-container {
    margin-left: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill-item-container {
    margin-top: 40px;
}

.skill-header {
    color: rgb(25, 26, 32);
    font-size: 32px;
    margin-bottom: 5px;
}

.skill-items {
    color: rgb(37, 53, 124);
    font-size: 22px;
}

.footnote-container {
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.footnote {
    font-size: 14px;
}

@media screen and (min-width: 1450px) {
    .skill-header {
        color: rgb(25, 26, 32);
        font-size: 38px;
        margin-bottom: 5px;
    }
    .skill-items {
        color: rgb(37, 53, 124);
        font-size: 28px;
    }
}

@media screen and (max-width: 1300px) {
    .skills {
        height: 115vh;        
    }
}

@media screen and (max-width: 1050px) {
    .skills {
        height: auto;
    }

    .footnote-container {
        bottom: 0;
        left: 80px;
    }

}

@media screen and (max-height: 815px) and (max-width: 800px) {
    .skills {
        padding-bottom: 20px;
    }

    .set-container {
        padding-right: 20px;
    }

    .footnote-container {
        bottom: 0;
        left: 30px;
    }
}