.nav {
    background-color: #01a1dd;
    width: 20vw;
    height: 100vh;
    z-index: 100;
}

.logo-container { 
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
}

.logo {
    background-image: url('./profile-pic.jpeg');
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-position: 50%;
    border: 8px solid #0198D0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22%;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-list-item {
    position: relative;
    margin-top: 9px;    
}

.nav-list-item a{
    text-decoration: none;
    color: rgba(255,255,255,0.65);
    font-size: 36px;
    transition: ease-in 0.2s;
}

.nav-list-item a:hover {
    color: rgba(255,255,255, 1);
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.social-media a{
    text-decoration: none;
}

.social-media a svg{
    width: 70px;
    height: 70px;
}

.icon {
    fill: rgba(255,255,255,0.65);
    transition: ease-in 0.15s;
}

.social-media a:hover .icon{
    fill: rgba(255,255,255,1);
}