.projects {

}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}

.project-container {
    position: relative;
}

.project {
    width: 440px;
    height: 300px;
    box-shadow: 1px 1px 2px #D0D0D0;    
    transition: ease-in 0.2s;
    position: relative;
}

.project:hover {    
    box-shadow: 5px 5px 6px #D0D0D0;
    transform: scale(1.08);
}

.top-container {
    height: 40%;
    width: 100%;
    position: relative;
    transition: ease-out 0.3s;
}

.project:hover .top-container {
    height: 70%;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 100;
    transition: ease-out 0.3s;
}

.project:hover .overlay {
    background-color: transparent;
}

.demo-container {
    position: absolute;    
    top: 0;
    z-index: -100;
}

.demo {
    width: 100%;
    position: relative;
}

.project-title {
    color: white;
    font-size: 3em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out 0.3s;
}

.project:hover .project-title {
    color: transparent;
}

.bottom-container {
    height: 60%;
    position: relative;
    z-index: 100;
    background-color: rgb(244, 247, 250);
    transition: ease-out 0.3s;
}

.project:hover .bottom-container {
    height: 30%;
}

.skill-set {
    height: 70px;
    padding: 10px;
    width: 400px;
    border: 1px solid #000;
    position: absolute;
    bottom: 0;
    z-index: -100;
}
