.projects {

}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}

.project-container {
    position: relative;
}
.floating-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #ccc;
    background-color: rgb(245, 248, 250);
    box-shadow: 1px 1px 2px #D0D0D0;        
    z-index: 1000;
}

.project-github {
    top: 72%;
    left: 95%;
}

.project-github:hover .project-icon{
    fill: #01a1dd;    
}


.project-skills {
    height: 35px;
    width: 35px;
    top: 89%;
    left: 95%;
    border: 4px solid #01a2dd5e;
    transition: ease-out 0.3s;
}

.project-skills:hover {
    border: 4px solid #01a1dd;
}

.project-skills:hover .project-icon{
    fill: #01a1dd;        
}

.project-icon {
    fill: #01a2dd5e;
    transition: ease-out 0.3s;
}


.project {
    width: 440px;
    height: 310px;
    box-shadow: 1px 1px 2px #D0D0D0;    
    transition: ease-in 0.4s;
    position: relative;
}

.project:hover {    
    box-shadow: 5px 5px 6px #D0D0D0;
    transform: scale(1.02);
}

.top-container {
    height: 40%;
    width: 100%;
    position: relative;
    transition: ease-out 0.4s;
}

.project:hover .top-container {
    height: 70%;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(221,116,1,0.5);
    position: absolute;
    z-index: 100;
    transition: ease-out 0.4s;
}

.project:hover .overlay {
    background-color: transparent;
}

.demo-container {
    position: absolute;    
    top: 0;
    z-index: -100;
}

.demo {
    width: 100%;
    position: relative;
}

.project-title {
    color: white;
    font-size: 3em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out 0.4s;
}

.project:hover .project-title {
    color: transparent;
}

.bottom-container {
    height: 60%;
    position: relative;
    z-index: 100;
    background-color: rgb(245, 248, 250);
    transition: ease-out 0.4s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project:hover .bottom-container {
    height: 30%;
}

.summary-container {
    width: 85%;
    height: 68%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 7px;
    box-sizing: border-box;
}

.summary {
    font-size: 18px;
    color: rgb(62, 64, 65);
    position: relative;
    z-index: 10;
}


.skill-set {
    width: 100%;
    height: 100%;
    position: absolute;
    top:144%;
    transition: ease-in 1s;
    background-color: rgb(245, 248, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.tech-icons {
    height: 75px;
    width: 75px;
    margin: 10px;
}

.slide-bottom {
    top: 0%;
}

.border-corner {
    border: 2px solid #01a1dd;
    padding: 25px;
    position: relative;
    z-index: -1;
    box-sizing: border-box;
}

.border-corner::before,
.border-corner::after {
  content: '';
  position: absolute;
  background: rgb(245, 248, 250);
}

.border-corner::before {
  width: calc(100% + 53px + 8px - 120px);
  height: calc(100% + 8px);
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.border-corner::after {
  height: calc(100% + 53px + 8px - 120px);
  width: calc(100% + 8px);
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
