.fixed {
    position: fixed;
}

.full-page {
    height: 100vh;
    width: 72vw;
    position: relative;
    left: 28vw;
}

.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.title-container div {
    padding-bottom: 5px;
    border-bottom: 6px solid #01a1dd;
}

.title {
    font-size: 3em;
}